.home {
    width: 100%;
  }
  
  .heading-banner {
    background: linear-gradient(to right, #c31432, #892211);
    padding: 1.5rem 0;
    text-align: center;
    margin-bottom: 0;
    margin-top: 2rem;
  }
  
  .heading-banner h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
  
  .division-banner {
    background: linear-gradient(to right, #c31432, #892211);
    padding: 1.5rem 0;
    text-align: center;
    margin-top: 2rem;
  }
  
  .division-banner h2 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .heading-banner h1,
    .division-banner h2 {
      font-size: 1.8rem;
    }
  }
  
  @media (max-width: 480px) {
    .heading-banner h1,
    .division-banner h2 {
      font-size: 1.5rem;
    }
  }